@tailwind base;
@tailwind components;
@tailwind utilities;

.video-parallax-container {
  perspective: 1px;
  transform-style: preserve-3d;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100vh;
}

.parallax-video {
  transform: translateZ(-1px) scale(2);
  z-index: 0;
}